<div class="header">
    <h1 class="header-text">Emergency Social Network</h1>
    <div class="header-element">
        <!-- <form action="/status" method="GET">
            <button class="header-button">
                <i class="bi bi-person-circle" ></i>
            </button>
        </form> -->
    </div>
</div>