<p>This will show something else when we implement checks for whether the user is logged in</p>
<form action="/join" class="main-form" method="GET">
    <button class="form-button">Join</button>
</form>