<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>ESN</h1>
            </div>
            <form id="main-form" class="main-form">
                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-input" type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-input" type="password" id="password" name="password">
                </div>
                <button class="form-button" onclick="login()">Login</button>
            </form>
        </div>
        <script>
            function login(){
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                // username and password validation here
                // if is valid, submit form
                // else show error message or alert
                // also handle null values
                document.getElementById("main-form").action = "/login";
                document.getElementById("main-form").submit();
            }
        </script>
    </body>
</html>