<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance Test</title>
</head>
<body>
    <input id="interval" type="text" name="interval">
    <input id="duration" type="text" name="duration">
    <button id="startTest">Start</button>
    <script src="/javascripts/performanceTest.js"></script>

</body>
</html>