<body>
    <div>
        <div class="message-container" id="message-container">
        </div>
        <form id="messageForm">
            <input id="message">
            <button type="submit">Post</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascripts/publicWall.js"></script>
</body>