<body>
    <div>
        <div class="message-container">
            <% if (messages) { %>
                <% messages.forEach((message)=> { %>
                    <div class="message">
                        <div class="message-title">
                            <span class="message-sender-name">
                                <%= message.sender_name %>
                            </span>
                            <span class="message-time">
                                <%= message.time %>
                            </span>
                            <span class="message-status">
                                <%= message.status %>
                            </span>
                        </div>
                        <div class="message-body">
                            <p>
                                <%= message.body %>
                            </p>
                        </div>
                    </div>
                    <% }); %>
                        <% } %>
        </div>
        <form id="messageForm">
            <input id="message">
            <button type="submit">Post</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascripts/publicWall.js"></script>
</body>