<body>
    <div>
        <form id="messageForm">
            <input id="message">
            <button type="submit">Post</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascripts/publicWall.js"></script>
</body>