<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/welcome.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <p>Welcome to the ESN Platform, our community of care and support! 🌟</p>
        <p> We're thrilled to have you join us as a new Citizen member, and we want to ensure you feel right at home from the very beginning. Here's a quick overview of how our status system works, designed to keep you informed and connected with our caring community.</p>
        <p><strong>Status</strong></p>
        <ul style="list-style-type:square;">
            <li>
                <strong>OK 🟢</strong>
                <ol>
                    <li>
                        <p><strong>Explanation</strong>:I am OK; I do not need help.</p>
                    </li>
                    <li>
                        <p><strong>Color Code</strong>: Green</p>
                    </li>
                </ol>
            </li>
            <li>
                <strong>Help 🟡</strong>
                <ol>
                    <li>
                        <p><strong>Explanation</strong>: I need help, but this is not a life-threatening emergency.</p>
                    </li>
                    <li>
                        <p><strong>Color Code</strong>: Yellow</p>
                    </li>
                </ol>
            </li>
            <li>
            <strong>Emergency 🔴</strong>
                <ol>
                    <li>
                        <p><strong>Explanation</strong>: I need help now; this is a life-threatening emergency!</p>
                    </li>
                    <li>
                        <p><strong>Color Code</strong>: Red</p>
                    </li>
                </ol>
            </li>
            <li>
                <strong>Undefined 🟠</strong>
                <ol>
                    <li>
                        <p><strong>Explanation</strong>: The user has not provided any status info.</p>
                    </li>
                </ol>
            </li>
        </ul>
        <p>Sharing your status is simple and essential for us to support you effectively. To share your status:</p>
        <ol>
            <li>
                <p><strong>Log in</strong>: Make sure you're logged into your ESN account.</p>
            </li>
            <li>
                <p><strong>Navigate to your Profile</strong>: Go to your profile page, where you can see your current status.</p>
            </li>
            <li>
                <p><strong>Update Status</strong>: Click on your current status, and a menu will pop up allowing you to select your status from the options mentioned above.</p>
            </li>
        </ol>
        <p>Your status helps us understand your well-being and allows us to assist you when needed. Whether you're just feeling fine, need some assistance, or are facing an emergency, your ESN family is here for you.</p>
        <p>Remember, your safety and well-being are our top priorities, and our community is ready to lend a helping hand whenever you need it.</p>
        <p>Once again, welcome to ESN! We're here to make sure you're always connected and supported. Feel free to explore our platform and reach out if you have any questions or need assistance.</p>
        <p>Stay safe and well,</p>
        <p>TEAM SB-2 🤗🌟</p> 
        <form action="/" class="main-form" method="GET">
            <button class="form-button">Get Started</button>
        </form>
    </div>
</body>
