.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 320px);
    overflow-y: auto;
    overflow-x: hidden;
}

.message-container .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeeeee;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.message-container .message .message-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container .message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
}

.input-container .message-form .message-input {
    height: 140px;
    width: 95%;
    text-align: left;
    vertical-align: top;
    resize: none;
    border-radius: 5px;
    border: #ccc solid 2px;
    margin-bottom: 10px;
}

.message-container .message .message-title .message-sender-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.input-container .message-form .post-button {
    width: 95%;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.alert-container {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.alert-container.visible {
    height: 30px;
}

.notification {
    margin-right: 1.25em;
}

.user-status-OK{
    color: green;
    margin-left: 10px;
}

.user-status-HELP{
    color: yellow;
    margin-left: 10px;
}

.user-status-EMERGENCY{
    color: red;
    margin-left: 10px;
}

.user-status-UNDEFINED {
    display: none;
    margin-left: 10px;
}